#Archivos compilados
*.class
bin/
out/

#Archivos del entorno de desarrollo
*.iml
.idea/
.vscode/
*.log

#Directorios de construcción de Maven y Gradle
target/
build/
effective-pom.xml

.settings/
.classpath
